<div class="shop-products">
<div class="shop-products__title">
</div>
<div class="shop-products__group">
    <include src="../components/productCardBlack.html"></include>
    <include src="../components/productCardBlack.html"></include>
    <include src="../components/productCardBlack.html"></include>
    <include src="../components/productCardBlack.html"></include>
    <include src="../components/productCardBlack.html"></include>
    <include src="../components/productCardBlack.html"></include>
    <include src="../components/productCardBlack.html"></include>
    <include src="../components/productCardBlack.html"></include>
</div>

</div>