<div class="cafe-about__wrapper">
  <div class="cafe-about__main">
    <div class="cafe-about__main--text">
      <div class="cafe-about__text--title">Rösterei & Café</div>
      <div class="cafe-about__text--body">
        Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen Rösterei,
        serviert im gemütlichen Café in der Innenstadt.
      </div>
      <div class="cafe-about__text--footer">
        <div class="cafe-about__footer--item">
          Komm uns besuchen! Fraunhoferstr. 13, Kiel
        </div>
        <div class="cafe-about__footer--item">Mo – Fr 8–18 Uhr Sa 11–18 Uhr</div>
      </div>
    </div>
    <div class="cafe-about__main--img">
      <img src="img/FEND-Coffee-machine-2.png" alt="" />
    </div>
  </div>

  <!-- comment -->

  <div class="cafe-about__main">
    <div class="cafe-about__main--text">
      <div class="cafe-about__text--title">Frisches Gebäck von nebenan</div>
      <div class="cafe-about__text--body">
        Als es die ersten Hügel des Kursivgebirges erklommen hatte, warf es
        einen letzten Blick zurück auf die Skyline seiner Heimatstadt
        Buchstabhausen, die Headline von Alphabetdorf. Wehmütig lief ihm eine
        rhetorische Frage über die Wange, dann setzte es seinen Weg fort.
        Unterwegs traf es eine Copy. Die Copy warnte das Blindtextchen, da, wo
        sie herkäme wäre sie zigmal umgeschrieben worden und alles, was von
        ihrem Ursprung noch übrig wäre, sei das Wort "und" und das Blindtextchen
        solle umkehren und wieder in sein eigenes, sicheres Land zurückkehren.
      </div>
      <a class="cafe-about__text--more" href="#">mehr</a>
    </div>
  </div>
</div>
