<div class="gallery__wrapper">
  <div class="gallery__column-sm">
    <img class="gallery__img-1" src="img/FEND-danish 1.png" alt="" />
    <img class="gallery__img-3" src="img/FEND-coffee-machine.png" alt="" />
    <img class="gallery__img-5" src="img/FEND-coffee-breakfast 1.png" alt="" />
    <img class="gallery__img-7" src="img/FEND-coffee-list.png" alt="" />
  </div>
  <div class="gallery__column-sm">
    <img class="gallery__img-2" src="img/FEND-Coffee-latte-art-2.png" alt="" />
    <img class="gallery__img-4" src="img/FEND-Coffee-latte-art.png" alt="" />
    <img class="gallery__img-6" src="img/FEND-Coffee-sign.png" alt="" />
    <img class="gallery__img-8" src="img/FEND-Coffee-latte-art-3.png" alt="" />
  </div>

  <div class="gallery__column-xl">
    <img src="img/FEND-danish 1.png" alt="" height="223px" />
    <img src="img/FEND-Coffee-sign.png" alt="" height="398px" />
  </div>
  <div class="gallery__column-xl">
    <img src="img/FEND-Coffee-latte-art-2.png" alt="" height="398px" />
    <img src="img/FEND-Coffee-latte-art-3.png" alt="" height="223px" />
  </div>
  <div class="gallery__column-xl">
    <img src="img/FEND-coffee-machine.png" alt="" height="223px" />
    <img src="img/FEND-Coffee-latte-art.png" alt="" height="398px" />
  </div>
  <div class="gallery__column-xl">
    <img src="img/FEND-coffee-list.png" alt="" height="398px" />
    <img src="img/FEND-coffee-breakfast 1.png" alt="" height="223px" />
  </div>
</div>
