<div class="footer">
  <div class="footer__logo">
    <div class="footer__logo--img"><img src="img/Logo.svg" alt="" /></div>
    <div class="footer__logo--brand">Rustica</div>
    <div class="footer__logo--text">Café & Rösterei</div>
  </div>

  <div class="footer__contact">
    <div class="footer__contact--address">
      Komm uns besuchen! Fraunhoferstr. 13, Kiel
    </div>
    <div class="footer__contact--time">
      <div>Mo – Fr 8–18 Uhr</div>
      <div>Sa 11–18 Uhr</div>
    </div>
  </div>

  <div class="footer__links">
    <div class="footer__links--item">Impressum Datenschutz</div>
    <div class="footer__links--item">
      <div>Café</div>
      <div>Shop</div>
      <div>Herkunft</div>
    </div>
  </div>
</div>
