.preview__wrapper--cafe {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/FEND-Coffee-shop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 332px;
}
