<div class="about__wrapper">
    <div class="about__main">
      <div class="about__main--text">
        <div class="about__text--title">Rösterei & Café</div>
        <div class="about__text--body">
          Kaffee aus Kiel, direkt gehandelt und geröstet in der eigenen
          Rösterei, serviert im gemütlichen Café in der Innenstadt.
        </div>
        <div class="about__text--footer">
          <div class="about__footer--item">
            Komm uns besuchen! Fraunhoferstr. 13, Kiel
          </div>
          <div class="about__footer--item">
            Mo – Fr 8–18 Uhr Sa 11–18 Uhr
          </div>
        </div>
      </div>
      <div class="about__main--img about__main--img-first">
        <img src="img/FEND-Coffee-shop.png" alt="" />
      </div>
    </div>
 
    <!-- comment -->

    <div class="about__main">
      <div class="about__main--text">
        <div class="about__text--title">Bio und Fair</div>
        <div class="about__text--body">
          Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und
          Konsonantien leben die Blindtexte. Weit hinten, hinter den
          Wortbergen, fern der Länder Vokalien und Konsonantien leben die
          Blindtexte. Und das alles in bester Bio Qualität
        </div>
        <a class="about__text--more" href="#">mehr</a>
      </div>
      <div class="about__main--img about__main--img-second">
        <img src="img/FEND-coffee-plant.png" alt="" />
      </div>
    </div>
  </div>