<div class="features__wrapper">
  <div class="features__title">Das steckt drin</div>
  <div class="features__img">
    <img src="img/FEND_Coffee_Costa-Rica 1.png" alt="" />
  </div>

  <div class="features__body">
    <div class="features__description">
      <div class="features__description--logo">
        <img src="img/IconKaffeeTasse.svg" alt="" />
      </div>
      <div class="features__description--text">Bester Geschmack</div>
    </div>

    <div class="features__description">
      <div class="features__description--logo">
        <img src="img/IconKaffeeSchaufel.svg" alt="" />
      </div>
      <div class="features__description--text">Fair gehandelt</div>
    </div>

    <div class="features__description">
      <div class="features__description--logo">
        <img src="img/IconKaffeePflanze.svg" alt="" />
      </div>
      <div class="features__description--text">Bio Qualität</div>
    </div>
  </div>

  <div class="features__button">
    <a class="features__button--item" href="#"><div>zum Shop</div></a>
  </div>
</div>
