<div class="products__wrapper">
  <div class="products__title">Entdecke unsere Kaffee Sorten</div>
  <div class="products__cards">
    <include src="../components/productCard.html"></include>
    <include src="../components/productCard.html"></include>
    <include src="../components/productCard.html"></include>
    <include src="../components/productCard.html"></include>
    
    <!-- <div class="products__card">
      <div class="products__card--img">
        <img src="img/FEND_Coffee_Costa-Rica 1.png" alt="" />
      </div>
      <div class="products__card--title">Costa Rica</div>
      <div class="products__card--price">6,90€ – 26,90€</div>
      <div class="products__card--description">
        <img src="img/IconKaffeeBohnen.svg" alt="" />
        <img src="img/IconFrenchPress.svg" alt="" />
        <img src="img/IconKaffeeSchaufel_mini.svg" alt="" />
      </div>
    </div>

    <div class="products__card">
      <div class="products__card--img">
        <img src="img/FEND_Coffee_Costa-Rica 1.png" alt="" />
      </div>
      <div class="products__card--title">Costa Rica</div>
      <div class="products__card--price">6,90€ – 26,90€</div>
      <div class="products__card--description">
        <img src="img/IconKaffeeBohnen.svg" alt="" />
        <img src="img/IconFrenchPress.svg" alt="" />
        <img src="img/IconKaffeeSchaufel_mini.svg" alt="" />
      </div>
    </div>

    <div class="products__card">
      <div class="products__card--img">
        <img src="img/FEND_Coffee_Costa-Rica 1.png" alt="" />
      </div>
      <div class="products__card--title">Costa Rica</div>
      <div class="products__card--price">6,90€ – 26,90€</div>
      <div class="products__card--description">
        <img src="img/IconKaffeeBohnen.svg" alt="" />
        <img src="img/IconFrenchPress.svg" alt="" />
        <img src="img/IconKaffeeSchaufel_mini.svg" alt="" />
      </div>
    </div>

    <div class="products__card">
      <div class="products__card--img">
        <img src="img/FEND_Coffee_Costa-Rica 1.png" alt="" />
      </div>
      <div class="products__card--title">Costa Rica</div>
      <div class="products__card--price">6,90€ – 26,90€</div>
      <div class="products__card--description">
        <img src="img/IconKaffeeBohnen.svg" alt="" />
        <img src="img/IconFrenchPress.svg" alt="" />
        <img src="img/IconKaffeeSchaufel_mini.svg" alt="" />
      </div>
    </div> -->
  </div>
  <div class="products__button">
    <a class="products__button--item" href="#"><div>alle Produkte</div></a>
  </div>
</div>
