@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

@import "variables";
@import "base";


:root {
  
}

// main
@import './components/main/about.scss';
@import './components/main/preview.scss';
@import './components/main/products.scss';
@import './components/main/herkunft.scss';
@import './components/main/features.scss';

// header
@import './components/header.scss';





* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  /* width: 376px; */
  min-width: 376px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1200px) { 
.wrapper {

  max-width: 1440px;
}

 }

/* Block about */

