<div class="kontakt">
  <div class="kontakt-form">
    <div class="kontakt-form__title">Du hast Fragen? Schreib uns gern!</div>

    <form class="kontakt-form__formular">
      <div class="kontakt-form__formular-input">
        <label for="name">Name*</label>
        <input type="text" id="name" placeholder="Name" />
      </div>

      <div class="kontakt-form__formular-input">
        <label for="email">E-Mail*</label>
        <input type="text" id="email" placeholder="E-Mail" />
      </div>

      <div class="kontakt-form__formular-input">
        <label for="telefon">Telefonnummer</label>
        <input type="text" id="telefon" placeholder="Telefonnummer" />
      </div>

      <div class="kontakt-form__formular-selector formular-selector">
        <div class="formular-selector__placeholder">Dein Betreff</div>
        <div class="formular-selector__menu">
          <div class="formular-selector__menu-item">Fragen zur Lieferung</div>
          <div class="formular-selector__menu-item">Fragen zum Produkt</div>
          <div class="formular-selector__menu-item">Vertriebsfragen</div>
          <div class="formular-selector__menu-item">einfach nur so!</div>
        </div>
      </div>

      <div class="kontakt-form__formular-input">
        <label for="message">Deine Nachricht</label>
        <input
          type="text"
          id="message"
          placeholder="Was hast du auf dem Herzen?"
        />
      </div>

      <div class="kontakt-form__formular-checkbox">
        <input type="checkbox" />
        <div>Ich akzeptiere die Datenschutzerklärung</div>
      </div>

      <div class="kontakt-form__formular-button">
        <button class="btn">abschicken</button>
      </div>
    </form>

    <!-- <form>
      <label for="id">Name*</label>
      <input type="text" id="id" class="input" placeholder="Name" />
      <label for="id">E-Mail*</label>
      <input type="email" id="id" class="input" placeholder="E-Mail" />
      <label for="id">Telefonnummer</label>
      <input type="" id="id" class="input" placeholder="Telefonnummer" />

      <input type="checkbox" />
     

      <button type="submit">asdasd</button>
      <input type="submit" value="sbmitwef"> 
    </form> -->
  </div>
</div>
